useDynLib(DNAcopy)
import(stats,graphics)
exportClasses(CNA, DNAcopy)
exportMethods("[", "$", plot, print, show, subset, summary)
export("attach.genomdat","CNA","convertCNA","convertDNAcopy","exon.segment","glFrequency","oldDNAcopyPlot","segment","segments.p","segments.summary","smooth.CNA","unsmooth.CNA","zoomIntoRegion")
